.deploy-area {
    min-height: 50vh;
    padding: 80px;
}

.texto-deploy {
    h1 {
        font-size: 40px;
        color: white;
        text-align: center;
        margin: 0 0 50px 0;
    }
}



.big-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
    list-style: none;

    li {
        transition: .3s;
        margin-bottom: 20px;
        max-width: 450px;

        img {
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
            box-shadow: 0 0 20px #050a14;
            transition: .3s;
        }
    }

    li:hover {
        cursor: pointer;
        transform: scale(1.03);

        img {
            border: 1px solid rgb(17, 172, 199);
            box-shadow: 0 0 10px #425e9b,
                0 0 30px #425e9bd3;
        }
    }
}

.deploy-area .other {
    margin-top: 40px;
}

.deploy-area .other>h2 {
    font-weight: 200;
    text-align: start;
    font-size: 28px;
    color: white;
}

.other-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.other-projects li {
    list-style: none;
}

.other-projects li button{
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-size: 17px;
    margin: 20px 0;

    background-color: #101c35;
    border: 1px solid #425e9b;
    color: white;
    transition: .2s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px #425e9b;
    }

}

.other-projects h2 {
    font-weight: 200;
    text-align: start;
    font-size: 22px;
    color: white;
}

@media screen and (max-width: 600px) {
    .deploy-area {
        padding: 20px;
    }
    .other-projects{
        justify-content: center;
    }
}